PORT = 'port'
PGUSER = "user"
PGHOST= 127.0.0.1
PGPASSWORD = "password"
PGDATABASE= "database name"
PGPORT= port
TOKEN_SECRET="secet key"
REFRESH_TOKEN_SECRET="secret key"
TOKEN_EXPIRES_SECONDS=number
